<div class="devise card-body">
<h2 class="text-center">Redefinição de senha</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, "Me envie as instruções para redefinir a senha" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>