<p id="notice"><%= notice %></p>

<p>
  <strong>Felicidade:</strong>
  <%= @safe.felicidade %>
</p>

<p>
  <strong>Recurso:</strong>
  <%= @safe.recurso %>
</p>

<p>
  <strong>Casa lv:</strong>
  <%= @safe.casa_lv %>
</p>

<p>
  <strong>Oficina lv:</strong>
  <%= @safe.oficina_lv %>
</p>

<p>
  <strong>Fabrica lv:</strong>
  <%= @safe.fabrica_lv %>
</p>

<p>
  <strong>Vida:</strong>
  <%= @safe.vida %>
</p>

<p>
  <strong>User:</strong>
  <%= @safe.user %>
</p>

<%= link_to 'Edit', edit_safe_path(@safe) %> |
<%= link_to 'Back', saves_path %>
